arize-phoenix==14.8.0
cohere==5.21.1
fastapi==0.136.0
langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.3.0
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.2
langgraph==1.1.8
openinference-instrumentation==0.1.46
openinference-instrumentation-langchain==0.1.62
openinference-instrumentation-openai==0.1.44
openinference-semantic-conventions==0.1.28
opentelemetry-api==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-httpx==0.60b1
opentelemetry-sdk==1.39.1
psycopg2-binary==2.9.11
pydantic==2.13.2
qdrant-client==1.17.1
safetensors==0.7.0
sentence-transformers==5.4.1
SQLAlchemy==2.0.49
uvicorn==0.44.0
